<!DOCTYPE html><html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= pageTitle %> - Admin Panel</title>
<link rel="preload" href="/fonts/themify.woff" as="font" type="font/woff2" crossorigin>
<link rel="shortcut icon" type="image/png" href="/favicon.ico">
<link rel="stylesheet" href="/css/a.style.css">
<script src="/js/a.script.js"></script>
<script src="/js/b.custom.js"></script>
<script src="/js/chart/chart.min.js"></script>
<script src="/js/c.jquery.datatables.js"></script>
<script src="/js/d.datatables.bootstrap4.js"></script>
<script>window.webBaseUrl = "<%= webBaseUrl %>";</script>
</head><body>