<%- include("partials/header.ejs") %>
<div class="wrapper">
    <div id="content"><%- include("partials/menu.ejs", {hideHeader: false}) %>
        <div class="container-fluid home">
            <h1>add-category</h1>
            <div class="row">
                
               
                <form class="widget-form" method="POST">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input name="name" type="text" placeholder="Name" class="form-control" required />
                        </div>
                    </div>
                    
                    <div class="button-btn-block">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Add Category</button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>

<!-- <script>
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Chart.js Line Chart'
                }
            }
        },
    };
</script> -->