<%- include("partials/header.ejs") %>
<div class="wrapper">
    <div id="content"><%- include("partials/menu.ejs", {hideHeader: false}) %>
        <div class="container-fluid home">
            <div class="row">
                <h1>category</h1>
                <a href="/add-category">Add</a>
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Date_added</th>
                        <th>Parent ID</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>pencil</td>
                        <td>1-4-3445</td>
                        <td>0</td>

                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>

<!-- <script>
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Chart.js Line Chart'
                }
            }
        },
    };
</script> -->