<%- include("partials/header.ejs") %><div class="wrapper"><div id="content"><%- include("partials/menu.ejs", {hideHeader: false}) %><div class="container-fluid home">
<!-- <canvas id="myChart" width="80vw" height="80vh"></canvas> -->
<div class="row">
</div>

</div></div></div><%- include("partials/footer.ejs") %>

<!-- <script>
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Chart.js Line Chart'
                }
            }
        },
    };
</script> -->