<%- include("partials/header.ejs") %>
<div class="wrapper">
    <div id="content"><%- include("partials/menu.ejs", {hideHeader: false}) %>
        <div class="container-fluid home">
            <div class="row">
                <h1>Hello inventory</h1>
                <table class="table">
                    <tr>
                        <th>id</th>
                        <th>Unit price</th>
                        <th>Product ID</th>
                        <th>Stock Count</th>
                        <th>date_added</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>

<!-- <script>
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Chart.js Line Chart'
                }
            }
        },
    };
</script> -->