<%- include("partials/header.ejs") %>
<div class="wrapper">
    <div id="content"><%- include("partials/menu.ejs", {hideHeader: false}) %>
        <div class="container-fluid home">
            <div class="row">
                <h1>Hello User</h1>
                <table class="table">
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>username</th>
                        <th>password</th>
                        <th>dateadded</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>mujtaba munir</td>
                        <td>mujtaba@4m.com</td>
                        <td>12345</td>
                        <td>1-2-2022</td>
                     </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>

<!-- <script>
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Chart.js Line Chart'
                }
            }
        },
    };
</script> -->